<h1>Listagem de Clientes</h1>
<div class="grid" *ngIf="clientes.length > 0; else semClientesCadastrados">
  <div class="md:col-4" *ngFor="let cliente of clientes">
    <p-card header="{{ cliente.nome }}" subheader="{{ cliente.cidade }}, {{ cliente.uf }}" styleClass="shadow-3">
      <p>Esse cliente possui <span class="font-bold">{{ cliente.quantidadeEmails }}</span> e-mails e <span
        class="font-bold">{{ cliente.quantidadeTelefones }}</span> telefones.</p>
      <ng-template pTemplate="footer">
        <p-button
          styleClass="p-button-outlined p-button-info"
          label="Ver"
          icon="pi pi-eye"
          [routerLink]="['detalhar', cliente.id]"
        >
        </p-button>
        <p-button styleClass="p-button-outlined p-button-success" label="Editar" icon="pi pi-pencil"></p-button>
        <p-button
          styleClass="p-button-outlined p-button-danger"
          label="Excluir"
          icon="pi pi-trash"
          (click)="confirmarExclusao(cliente.id)"
        >
        </p-button>
      </ng-template>
    </p-card>

  </div>
</div>

<div class="grid">
  <ng-template #semClientesCadastrados>Não há clientes cadastrados.</ng-template>
</div>

<p-button styleClass="p-button-primary mt-5" label="Novo Cliente" icon="pi pi-plus" routerLink="novo"></p-button>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
