<div *ngIf="exibirMenu()">
  <div class="main-menu flex align-items-center justify-content-around">
    <div>
      <h1 class="main-menu-logo">crud clientes</h1>
    </div>
    <div class="flex align-items-center justify-content-between">
      <h3 class="font-light mr-3">Logado com <strong>{{ auth.jwtPayload?.user_name }}</strong></h3>
      <p-button (click)="logout()" styleClass="p-button-warn" label="Logout"></p-button>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
  <p-toast></p-toast>
</div>
